

table{
    border-collapse: collapse;
    border: 1px solid red;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

td{
    border: 1px solid black;
}

.title{
        font-family: 'SF Pro Text';
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
}
